@keyframes zoom {
	0%{
		transform: none;
	}
	100% {
		transform: scale(1.5);
	}
}
@keyframes  animInitialHeader {
	from {
		opacity: 0; 
		transform: translate3d(0,800px,0); 
	}
}
#ip-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;
}
/**
 *#ip-container  .row [class*="col"] {
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
	cursor: default;
	pointer-events: none;
 */
#ip-container  .row [class*="col"] {
	opacity: 1;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}
.progress {
	animation-delay: 200ms;
}
.progress-bar {
	background-image:  linear-gradient(to right, rgb(41, 128, 185), 
		rgba(52, 152, 219,1),
		 rgba(52, 152, 200,1));;
	background-color: transparent;
}
.progress-bar span {
	position: absolute;
	text-align: center;
	width: 100%;
}
#website  *{
	z-index: 0;
}
.navbar {
	background-image: linear-gradient(to right, rgb(41, 128, 185), 
		rgba(52, 152, 219,1),
		 rgba(52, 152, 200,1));
	color: #fff;
}
a:any-link {
	color: rgba(236, 240, 241,1.0)
}
#gitHub:hover{
	color: rgb(36, 41, 46);
	animation: zoom linear 500ms forwards;
}
/**
 #instagram:hover {
	animation: zoom linear 500ms forwards;
	background-image: linear-gradient(45deg, #405de6,
	 #5851db, 
	 #833ab4, 
	 #c13584, 
	 #e1306c,
	  #fd1d1d);
	color: transparent;
	background-clip: text;
}
**/
#instagram:hover {
	animation: zoom linear 500ms forwards;
	background-image: radial-gradient(circle at 100% 100%, #fdf497 0%,
		 #fdf497 5%, 
		 #fd5949 45%,
		  #d6249f 60%, 
		  #285AEB 90%);
	color: transparent;
	background-clip: text;
}
 
#linkedin:hover {
	background-color: rgb(0,119,181);
	animation: zoom linear 500ms forwards;
}
#sendMail:hover {
	animation: zoom linear 500ms forwards;
	color: rgb(178,49,33);
	background-color: rgb(238,238,238);
}