@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
@keyframes zoom {
	0%{
		transform: none;
	}
	100% {
		transform: scale(1.5);
	}
}

header#ip-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-image: linear-gradient(to top, rgb(41, 128, 185), 
		rgb(73, 149, 199), 
		rgb(114, 176, 217));
	z-index: 100;
	color: rgba(236, 240, 241,1.0);
}
.row {
	height: 100%;
}
.spinner {
  position: absolute;
top: 48%;
left: 48%;
  width: 50px;
  height: 40px;
  font-size: 10px;
}

.spinner > div {
  background-color: rgba(236, 240, 241,1.0);
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
#website  main{
	z-index: 0;
}
.navbar {
	background-image: linear-gradient(to bottom right, rgb(41, 128, 185), 
		rgb(73, 149, 199), 
		rgb(114, 176, 217));
	color: rgba(236, 240, 241,1.0);
}
a:any-link {
	color: rgba(236, 240, 241,1.0);
}
#menu {
	color: rgba(236, 240, 241,1.0);
	border: 1px solid  rgba(236, 240, 241,1.0);
	padding: 18px 32px;
	font-size: 16pt;
}
#gitHub:hover{
	color: rgb(36, 41, 46);
	animation: zoom linear 500ms forwards;
}
/**
 #instagram:hover {
	animation: zoom linear 500ms forwards;
	background-image: linear-gradient(45deg, #405de6,
	 #5851db, 
	 #833ab4, 
	 #c13584, 
	 #e1306c,
	  #fd1d1d);
	color: transparent;
	background-clip: text;
}
**/
.scrollable {
	position: fixed;
	background-image: linear-gradient(to bottom right, rgb(41, 128, 185), 
		rgba(73, 149, 199, 0.8), 
		rgba(114, 176, 217, 0.8));
	width: 100%;
	top: 0;
	z-index: 99;
}
#instagram:hover {
	animation: zoom linear 500ms forwards;
	background-image: radial-gradient(circle at 100% 100%, #fdf497 0%,
		 #fdf497 5%, 
		 #fd5949 45%,
		  #d6249f 60%, 
		  #285AEB 90%);
	color: transparent;
	background-clip: text;
}
 
#linkedin:hover {
	background-color: rgb(0,119,181);
	animation: zoom linear 500ms forwards;
}
#sendMail:hover {
	animation: zoom linear 500ms forwards;
	color: rgb(178,49,33);
	background-color: rgb(238,238,238);
}
img {
	height: 150px;
	width: 150px;
	z-index: inherit;
}
.side-a {
	background-image: linear-gradient(to bottom right, rgb(41, 128, 185), 
		rgb(73, 149, 199), 
		rgb(114, 176, 217));
	clip-path: polygon(300px 76px, 0px 350px, 0px 76px);
	width: 100%;	
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.side-b {
background-color: #eee;
clip-path: polygon(300px 75px, 0px 349px, 306px 349px, 358px 349px, 358px 75px);
width: 100%;
height: 100%;
z-index: -2;
position: absolute;
top: 0;
right: 0;
}
.jumbotron {
	background-color: transparent;
}
#home {
	color: rgba(236, 240, 241,1.0);
}
.bg-blue {
	background-image: linear-gradient(to bottom right, rgb(41, 128, 185), 
		rgb(73, 149, 199), 
		rgb(114, 176, 217));
}
.bg-grey{
	background-color: #eee;
}
#home div .row div:nth-child(2) {
	display: none; 
}

/* Breakpoints */

/* Large devices (desktops, 992px and up)*/
@media only screen  and (min-width : 1280px) {
	#home div .row div:nth-child(2) {
		display: flex;
	}
	.side-a {
		clip-path: polygon(1348px -1px,0px 568px, 0px 0px);
	} 
	.side-b {
		clip-path: polygon(1191px 54px, 285px 389px, 1355px 376px, 1354px 56px);
	}
}